@charset "utf-8";
/* CSS Document */

.containerpicture
{
	width:1920px;
	height:800px;
	
}
.example-title
{
	color: var(--primary-color);
	font-size: 55px;
	text-align: center;
	margin: 120px auto;
}
.exampleimages
{
	width:100%;
	height:400px;
	display: flex;
	margin: 0 auto 100px;
}
.buttonleft
{

	width:129px;
	height:150px;
	margin: auto 0 auto 0;
}
.picture1
{
	width: 324px;
	height: 326px;

	margin: auto 41px auto 122px;
}
.picture2
{
	width: 324px;
	height:326px;

	margin: auto 41px auto 0;
}
.picture3
{
	width: 324px;
	height: 326px;
	
	margin: auto 0;
}
.buttonright
{
	width:129px;
	height:150px;

	margin: auto 0 auto 122px;
}
