@charset "utf-8";
/* CSS Document */

.maincontent-container
{
	width:1920px;
	height: 800px;
	background-color: #6D0500;
	margin :115px auto 0;
	display: flex;
}
.contentabout
{
	width:710px;
	height:379px;
	margin: 210px 0 0 210px;
	text-align:right;
	align-items: right;

}
.textcontentmain
{
	font-size: 14px;
	color: var(--text-color);
	margin: 15px 0 0 0;
}
.title-contentmain
{
	font-size: 23px;
	color: var(--primary-color);
	margin: 65px 0 0 0;
}
.button3
{
	width:185px;
	height:63px;
	border: 2px solid var(--primary-color);
	border-radius: 15px;
	display: flex;
	margin: 20px 0 0 auto;

}
.imagetext1
{
	width:859px;
	height:574px;
	background-color: antiquewhite;
	margin: 113px 0 0 141px;
}
.imagetext2
{
	width: 920px;
	height: 612px;
	background-color: aliceblue;
	margin: 0 0 0 0;
	float: left;
}
.maincontent-container2
{
	width:1920px;
	height: 725px;
	background-color: #6D0500;
	margin :0;
	display: flex;
}
.contentabout2
{
	width:649px;
	height:300px;
	margin:150px 0 0 141px;
}
.textmaincontent
{
	font-size: 14px;
	color: var(--text-color);
	line-height: 23px;
}
.maincontent-container3
{
	width:1920px;
	height:620px;
	background-color: #6D0500;
	display: flex;
}
.imagetext3
{
	width:859px;
	heigh:547;
	margin:0 0 0 141px;
	
}
.contentabout3
{
	width:710px;
	height:270px;
	margin: 125px 0 0 210px;
}
.maincontent-container4
{
	width:1920px;
	height:802px;
	background-color: #5E7B6F;
	display: flex;
}
.imagetext4
{
	width:920px;
	height:800px;
	background-color: aliceblue;
}
.textcontentmain2
{
	width:649px;
	height: 300px;
	margin: 260px 0 0 141px;
}
.title-contentmain2
{
	color: var(--primary-color);
	font-size: 48px;
	margin: auto auto 10px 0;
}
.button4
{
	width:185px;
	height:63px;
	border: 2px solid var(--primary-color);
	border-radius: 15px;
	display: flex;
	margin: 20px auto 0 0;
}
.footer
{
	width: 1920px;
	height: 450px;
	background-color: #1C2A3D;
	margin: 120px auto 0;
	display: flex;
}
.imgfooter
{
	width:472px;
	height: 293px;
	margin: 100px auto 0 ;
}