@charset "utf-8";
/* CSS Document */

:root {
    --background-color: #001427;
    --primary-color: #F4D58D;
    --text-color: #FFF;
    --grey-color: #C4C4C4;
}
@font-face {
    font-family: "UTM Davida";
    src: url("/fonts/UTM\ Davida.ttf") format("ttf")}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'UTM Davida';
    color: var(--primary-color);
    margin: 0;
}
p, label {
    color: var(--text-color);
}
input {
    border-color: var(--primary-color);
    background: transparent;
    color: var(--text-color);
    outline: none;
}
select {
    border-color: var(--primary-color);
    background-color: var(--background-color);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    appearance: none;
    background-image: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: 85% 50%;
    outline: none;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    cursor: pointer;
}
select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
select option {
    color: rgba(255, 255, 255, 0.6);
}
input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 2rem;
    height: 2rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1.5rem 1.5rem var(--primary-color);
    background-color: var(--primary-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 60%, 50% 90%, 100% 6%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    font-size: 24px;
    background-color: transparent;
    margin-bottom: 1rem;
}
.d-flex-col {
    display: flex;
    flex-direction: column;
}
.primary-btn {
    padding: 20px 24px;
    font-weight: 600;
    min-width: 334px;
    box-sizing: border-box;
    border: 3px solid var(--primary-color);
}
.input {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 18px;
    margin: 1rem 0;
    border-radius: 12px;
    padding: 1rem;
    border: 3px solid var(--primary-color);
}
.input::placeholder {
    font-size: 18px;
}
.checkbox-label {
    font-size: 18px;
    margin-left: 1rem;
}
.checkbox-container {
    margin-bottom: 1.4rem;
    display: flex;
    align-items: center;
}
.input-icon-container {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}
.icon-container:not(:first-child) {
    margin-left: 1.25rem;
}
.icon-container {
    width: 40px;
}
img {
    display: block;
	width: 100%;
	height:auto;
}
html {
	box-sizing: border-box;}