@charset "utf-8";
/* CSS Document */
.containerproduct
{
	width:1760px;
	height:530px;

	margin: 250px auto 0;

}
.titlenewproduct
{
	width:800px;
	height:64px;
	margin:0 auto;
	font-size: 48px;
	color: var(--primary-color);
	text-align: center;
}
.buttonleft
{
	width:129px;
	height:150px;
	margin:auto 0;
	
}
.imagenewproduct
{
	width:1760px;
	height:464px;
	display: flex;
}
.imgproduct1
{
	width:285px;
	height:394px;
	margin: auto 0 auto 61px;
}
.imgproduct2
{
	width:285px;
	height:394px;

	margin: auto 0 auto 80px;
}
.buttonright
{
	width:129px;
	height:150px;
	margin: auto 0 auto 61px;
}
.pictureproduct
{
	width:284px;
	height:284px;
	margin:0 auto;
}
.nameprice
{
	width:285px;
	height:85px;
	margin:10px auto 0;
	font-size: 18px;
	color: var(--text-color);
	font-weight: 600;
	text-align: center;
	line-height: 30px;
}
.price
{
	color: var(--primary-color);
	font-size: 24px;
	margin: 10px auto auto auto;
}
.pagesbuttons
{
	width:170px;
	height:20px;
	margin: 20px auto;
	display: flex;
}
.pagesicon
{
	width:20px;
	height:20px;
	border-radius: 50%;
	border: solid 1px var(--primary-color);
	margin: auto 0 0 15px;
}
.pagesicon2
{
	width:20px;
	height:20px;
	border-radius: 50%;
	background-color: var(--primary-color);
	border: solid 1px var(--primary-color);
	margin:auto 0;
}